---
import MainLayout from "../layouts/MainLayout.astro";
const title = "Main page";
---

<MainLayout title={title}>
    <h2>HOLAAAAA</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor nesciunt iusto, 
        ex aperiam natus dolorum consequatur enim temporibus voluptatibus corporis aspernatur 
        cum incidunt delectus alias at.</p>
</MainLayout>
