---

---

<footer>
  <p>© 2025, Todos los derechos rervados</p>
</footer>

<style>
  footer {
    padding: 1rem;
    background-color: #8c8c8c;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>