---
const {title} = Astro.props
---

<html lang="en">
    <head>
        <title>{title}</title>
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>

        <main>
            <slot />
        </main>
            
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>


<style>
    body {
        font-family: Arial, sans-serif;
    }

    header, footer {
        background-color: #333;
        color: white;
        padding: 1rem;
    }

    main {
        padding: 1rem;
    }
</style>